{%extends 'base.html'%}

{%block body%}


<button class="btn btn-warning" onclick= "window.location.href='/lieder'">🔙Leave</button>

<form method="POST">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

        {{form.LiedId(class_="form-control")}}

    <div class="mb-3">
        <label for="Vorname" class="form-label">Kuenstleranzahl</label>
        {{form.Kuenstleranzahl(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Nachname" class="form-label">Liedname</label>
        {{form.Liedname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Firma" class="form-label">Erscheinungsdatum</label>
        {{form.Erscheinungsdatum(class_="form-control")}}
    </div>


    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>



<table class="table">
    <thead>
      <tr>
        <th scope="col">LiedId</th>
        <th scope="col">Kuenstleranzahl</th>
        <th scope="col">Liedname</th>
        <th scope="col">Erscheinungsdatum</th>
  
      </tr>
    </thead>
    <tbody>
  
      {% for lied in lieder %}
      <tr>
        <td>{{lied.LiedId}}</td>
        <td>{{lied.Kuenstleranzahl}}</td>
        <td>{{lied.Liedname}}</td>
        <td>{{lied.Erscheinungsdatum}}</td>
        <td><button class="btn btn-info " onclick= "window.location.href='/lieder/edit?itemid={{lied.LiedId}}'">✏️</button></td>
        
      </tr>
      {% endfor %}
  
  
    </tbody>
  </table>
  
{%endblock%}