{%extends 'base.html'%}

{%block body%}


<button class="btn btn-warning" onclick= "window.location.href='/lieder'">🔙Leave</button>

<form method="POST">
    {{form.csrf_token}}

    <!-- {{ form.errors }} -->

        {{form.LiedId(class_="form-control")}}

    <div class="mb-3">
        <label for="Vorname" class="form-label">Kuenstleranzahl</label>
        {{form.Kuenstleranzahl(class_="form-control",readonly = true )}}
    </div>

    <div class="mb-3">
        <label for="Nachname" class="form-label">Liedname</label>
        {{form.Liedname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Firma" class="form-label">Erscheinungsdatum</label>
        {{form.Erscheinungsdatum(class_="form-control")}}
    </div>


    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<tr><td><button class="btn btn-info " onclick= "window.location.href='/lied_kuenstler/add?itemid={{form.LiedId.data}}'"> add Kuenstler</button></td></tr>
<tr><td><button class="btn btn-info " onclick= "window.location.href='/lied_kuenstler/delete?itemid={{form.LiedId.data}}'"> delete Kuenstler</button></td></tr>


<table class="table">
    <thead>
      <tr>
        <th scope="col">KuenstlerId</th>
        <th scope="col">ManagerID</th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Herkunftsland</th>
        <th scope="col">Gehalt</th>

  
      </tr>
    </thead>
    <tbody>
      {% for kuenstler_lied in kuenstlers_lied %}
      <tr>
        <td>{{kuenstler_lied.kuenstler.KuenstlerId}}</td>
        <td>{{kuenstler_lied.kuenstler.ManagerId}}</td>
        <td>{{kuenstler_lied.kuenstler.Vorname}}</td>
        <td>{{kuenstler_lied.kuenstler.Nachname}}</td>
        <td>{{kuenstler_lied.kuenstler.Herkunftsland}}</td>
        <td>{{kuenstler_lied.kuenstler.Gehalt}}</td>
      </tr>
      {% endfor %}
  
  
    </tbody>
  </table>

{%endblock%}