{%extends 'base.html'%}

{%block body%}

<!--{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}-->


<a class="nav-link dropdown-toggle" href="/products" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Optionen  
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/">Hauptseite</a></li>
          <li><a class="dropdown-item" href="/lieder">View Lieder</a></li>
          <li><a class="dropdown-item" href="/lieder/add">Add Lieder</a></li>
          <li><a class="dropdown-item" href="/lieder/delete">Delete Lieder</a></li>
          <!--<li><a class="dropdown-item" href="/products/add">Hinzufügen</a></li>-->
        </ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">LiedId</th>
      <th scope="col">Kuenstleranzahl</th>
      <th scope="col">Liedname</th>
      <th scope="col">Erscheinungsdatum</th>

    </tr>
  </thead>
  <tbody>

    {% for lied in lieder %}
    <tr>
      <td>{{lied.LiedId}}</td>
      <td>{{lied.Kuenstleranzahl}}</td>
      <td>{{lied.Liedname}}</td>
      <td>{{lied.Erscheinungsdatum}}</td>
      <td><button class="btn btn-info " onclick= "window.location.href='/lieder/edit?itemid={{lied.LiedId}}'">✏️</button></td>
      
    </tr>
    {% endfor %}


  </tbody>
</table>

{%endblock%}