{%extends 'base.html'%}

{%block body%}

<!--{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}-->


<a class="nav-link dropdown-toggle" href="/products" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Optionen  
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/">Hauptseite</a></li>
          <li><a class="dropdown-item" href="/managers">View Managers</a></li>
          <li><a class="dropdown-item" href="/managers/add">Add Managers</a></li>
          <li><a class="dropdown-item" href="/managers/delete">Delete Managers</a></li>
          <!--<li><a class="dropdown-item" href="/products/add">Hinzufügen</a></li>-->
        </ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Firma</th>
      <th scope="col">Kuenstler_anzahl</th>
      <th scope="col">edit</th>
    </tr>
  </thead>
  <tbody>

    {% for manager in managers %}
    <tr>
      <td>{{manager.ManagerId}}</td>
      <td>{{manager.Vorname}}</td>
      <td>{{manager.Nachname}}</td>
      <td>{{manager.Firma}}</td>
      <td>{{manager.Kuenstler_anzahl}}</td>
      <td><button class="btn btn-info " onclick= "window.location.href='/managers/edit?itemid={{manager.ManagerId}}'">✏️</button></td>
      
    </tr>
    {% endfor %}


  </tbody>
</table>

{%endblock%}