{%extends 'base.html'%}

{%block body%}

<!--{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}-->


<a class="nav-link dropdown-toggle" href="/products" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Optionen  
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/">Hauptseite</a></li>
          <li><a class="dropdown-item" href="/kuenstler">View Künstler</a></li>
          <li><a class="dropdown-item" href="/kuenstler/add">Add Künstler</a></li>
          <li><a class="dropdown-item" href="/kuenstler/delete">Delete Künstler</a></li>
          
          <!--<li><a class="dropdown-item" href="/products/add">Hinzufügen</a></li>-->
        </ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">KuenstlerId</th>
      <th scope="col">ManagerID</th>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Herkunftsland</th>
      <th scope="col">Gehalt</th>
      <th scope="col">edit</th>
    </tr>
  </thead>
  <tbody>

    {% for kuenstler in kuenstlers %}
    <tr>
      <td>{{kuenstler.KuenstlerId}}</td>
      <td>{{kuenstler.ManagerId}}</td>
      <td>{{kuenstler.Vorname}}</td>
      <td>{{kuenstler.Nachname}}</td>
      <td>{{kuenstler.Herkunftsland}}</td>
      <td>{{kuenstler.Gehalt}}</td>
      <td><button class="btn btn-info " onclick= "window.location.href='/kuenstler/edit?itemid={{kuenstler.KuenstlerId}}'">✏️</button></td>
      
    </tr>
    {% endfor %}


  </tbody>
</table>

{%endblock%}