
   
{%extends 'base.html'%}

{%block body%}

<!--<h2>Page-Reloads: {{reload_count}}</h2>-->

<!--<div class="toast-container">
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {%for message in messages%}
        
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Database</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            
            <div class="toast-body">
                
                {{message}}
                
            </div>
        </div>
    </div>
        {%endfor %}
    {% endif %}
{%endwith%}

</div>-->
<!--
<form method="post">
    <!-- title -->
    <!-- description -->
    <!-- dueDate -->
    <!-- isDone -->
    <!--
    {{form.csrf_token}}

    <div class="row mb-3">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
                {{form.title()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
                {{form.description()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
        <div class="col-sm-10">
                {{form.dueDate()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="isDone" class="col-sm-2 col-form-label">Is Done</label>
        <div class="col-sm-10">
                {{form.isDone()}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form> -->
<!--
<table class="table">
    <thead>
        <tr>
            <td scope="col">Item ID</td>
            <td scope="col">Title</td>
            <td scope="col">Discription</td>
            <td scope="col">Due Date</td>
            <td  scope="col">Is Done</td>
            <td  scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        {%for item in items:%} 
            <tr><td scope="row">{{item.itemId}}</td>
                <td scope="row">{{item.title}}</td>
                <td scope="row">{{item.description}}</td>
                <td scope="row">{{item.dueDate}}</td> 
                <td scope="row">
                    {%if item.isDone %}

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                        <label class="form-check-label" for="flexCheckCheckedDisabled">
 
                        </label>
                      </div>
                    
                      {%else%}

                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                        <label class="form-check-label" for="flexCheckDisabled">

                        </label>
                      </div>

                      {% endif %}

                    </td>
                <td>
                    <form method = "post" action = "/items/delete">
                        {{form.csrf_token}} 
                        <input type="hidden" id = "itemId" name= "itemId" value="{{item.itemId}}">
                        <button class="btn btn-danger" onclick="deleteItem(this);return false;">❌</button>
                    </form>
                    <button class="btn btn-info " onclick= "window.location.href='/editForm?itemid={{item.itemId}}'">✏️</button>
                    
                </td>
            </tr>           

        {%endfor%}
    </tbody>
</table>

    
{%endblock%}
-->
