{%extends 'base.html'%}

{%block body%}

<script type="text/javascript"> 

function Checkboxes()
{
  var i;
  let Checked_Checkedbox = [];
  let c = document.querySelectorAll("input[type=checkbox]");

   /* jede Checkbox abchecken und wenn ausgewaehlt auflisten : */
  for (i=0;i<c.length;i++)
    if (c[i].checked == true){
      Checked_Checkedbox.push(c[i].value)
    }
  let test = Checked_Checkedbox.join(",")
  document.getElementById("CheckedCheckboxes").value = test
  console.log(test);

  
}

function Try()
{
  console.log(document.getElementById("ManagersToDelete").value);
}
</script> 


<form method="POST" >
    {{form.csrf_token}}
  
      <table class="table">
      <thead>
          <tr>
            <th scope="col">KuenstlerId</th>
            <th scope="col">ManagerID</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Herkunftsland</th>
            <th scope="col">Gehalt</th>
          <th scope="col" style="color:red">Add</th>
          </tr>
      </thead>
      <tbody>
  
          {% for kuenstler in kuenstlers %}
          <tr>
            <td>{{kuenstler.KuenstlerId}}</td>
            <td>{{kuenstler.ManagerId}}</td>
            <td>{{kuenstler.Vorname}}</td>
            <td>{{kuenstler.Nachname}}</td>
            <td>{{kuenstler.Herkunftsland}}</td>
            <td>{{kuenstler.Gehalt}}</td>
          <td><input type="checkbox" value="{{kuenstler.KuenstlerId}}" onclick="Checkboxes()"></td>
  
          
          </tr>
          {% endfor %}
  
  
      </tbody>
      </table>
      
      <input type ="hidden" name = "CheckedCheckboxes" id ="CheckedCheckboxes" value ="">
  
      <button type="submit" class="btn btn-primary" onclick="Try()">Delete</button>

{%endblock%}